<div class="big_card_conteiner">

  <div class="big-card__photo">
    <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/80C64C0B63382CD3ED2653356125F275F63D036028A77D38DC3286AD851A6833/scale?width=506&aspectRatio=2.00&format=jpeg"
    alt=""
    height="200px"
    srcset="">
  </div>

  <div class="big-card__title">
    <h1><a href="#">saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
        No laboratório avançado da Stark Industries, Tony Stark, o Homem de Ferro, colaborou com engenheiros na criação da mais recente versão do Angular, um poderoso framework para aplicativos web. Essa parceria resultou em uma fusão incrível de tecnologia e engenhosidade. Integrando o Angular em seu traje, o Homem de Ferro agora defende o mundo com uma eficiência incomparável, marcando uma nova era de inovação e proteção.
      </a>
    </p>
  </div>


</div>
